input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
button {
    -webkit-app-region: no-drag;
}
input {
    -webkit-app-region: no-drag;
}
.top-margine {
    margin-top: 8px
}